<h2>Show Transactions by Tag</h2>

<% @transactions.each do |transaction| %>
  <p class="display">
    User : <%= transaction.find_user().display_name() %>
    Merchant : <%= transaction.find_merchant().merchant_name %>
    Transaction Amount : <%= transaction.amount %>
    Tag : <%= transaction.find_tag().tag_name %>
    Transaction Date : <%= transaction.trans_date %>
    Recurring Transaction :
    <% if transaction.recurring_transaction == "t" %>
      Yes
    <% else %>
      No
    <% end %>
  </p>
  <div class="changes">
    <a class="button" href="/tags/<%= transaction.find_tag().id %>/edit">Edit this Tag</a>
  </div>
  <br /><br />
<% end %>
