<p>Edit User</p>

<form method="post" action="/users/<%= @user.id %>">

  <label for="first_name">First Name :</label>
  <input type="text" name="first_name" id="first_name" value="<%= @user.first_name %>" />
  <label for="first_name">Last Name :</label>
  <input type="text" name="last_name" id="Last_name" value="<%= @user.last_name %>" />
  <label for="monthly_income">Monthly Income :</label>
  <input type="number" name="monthly_income" id="monthly_income" value="<%= @user.monthly_income %>" />
  <label for="budget">Budget :</label>
  <input type="number" name="budget" id="budget" value="<%= @user.budget %>" />
  <label for="pay_date">Pay Date :</label>
  <input type="number" name="pay_date" id="pay_date" value="<%= @user.pay_date %>" />

  <input type="submit" value="Edit User" />

</form>
