<h2>Users</h2>

<% if User.all().count() < 1 %>
  There current no users registered to use this app.
  <br/ >
  Please <a href="/users/add">add a user</a>.
<% else %>
  <h3>Showing <%= User.all().count() %> users</h3>
  <% @users.each do |user| %>
    <p>
      User Name : <%= user.display_name() %>
      <br />
      Monthy Income : £<%= user.monthly_income %>
      <br />
      Budget : £<%= user.budget %>
      <br />
      Pay Date : <%= user.pay_date %>
      <br />
      <a href="users/<%= user.id %>">View User</a>
    </p>
  <% end %>
  Please <a href="/users/add">Add a New User</a>
<% end %>
