<h2>Show Specific User</h2>

<p>First Name : <%= @user.first_name %></p>
<p>Last Name : <%= @user.last_name %></p>
<p>Monthly Income : £ <%= @user.monthly_income %></p>
<p>Budget : £ <%= @user.budget %></p>
<p>Pay Date : <%= @user.pay_date %></p>
<div class="changes">
  <a class="button" href="/users/<%= @user.id %>/edit">Edit this User</a>
  <form method="post" action="/users/<%= @user.id %>/delete">
    <input class="button" type="submit" value="Delete User" />
  </form>
</div>
</br />
