<h2>Transactions</h2>

<% @transactions.each do |transaction| %>
  <p>
    User ID : <%= transaction.find_user().pretty_name() %>
    <br />
    Merchant ID : <%= transaction.find_merchant().merchant_name %>
    <br />
    Amount : <%= transaction.amount %>
    <br />
    Tag : <%= transaction.tag %>
    <br />
    Transaction Date : <%= transaction.trans_date %>
  </p>
<% end %>
Please <a href="/transactions/add">Add a New Transaction</a>
