<h2>Transactions</h2>

<% if Transaction.all().count() < 1 %>
  There current no transactions added to this app.
  <br/ >
  Please <a href="/transactions/add">add a transaction</a>.
<% else %>
  <h3>Showing <%= Transaction.all().count() %> transactions</h3>
  <% @transactions.each do |transaction| %>
    <p>
      User : <%= transaction.find_user().display_name() %>
      <br />
      Merchant : <%= transaction.find_merchant().merchant_name %>
      <br />
      Amount : <%= transaction.amount %>
      <br />
      Tag : <%= transaction.find_tag().tag_name %>
      <br />
      Transaction Date : <%= transaction.trans_date %>
      <br />
      Recurring Transaction :
      <% if transaction.recurring_transaction == "t" %>
        Yes
      <% else %>
        No
      <% end %>
      <br />
      <a href="transactions/<%= transaction.id%>">View Transaction</a>
      <br />
    </p>
  <% end %>
  Please <a href="/transactions/add">Add a New Transaction</a>
<% end %>
