<h2>Show Specific Transaction</h2>

<p class="display">
  User : <%= @transaction.find_user().display_name() %>
  <br />
  Merchant : <%= @transaction.find_merchant().merchant_name %>
  <br />
  Transaction Amount (£): <%= @transaction.amount %>
  <br />
  Tag : <%= @transaction.find_tag().tag_name %>
  <br />
  Transaction Date : <%= @transaction.trans_date %>
  <br />
  Recurring Transaction :
  <% if @transaction.recurring_transaction == "t" %>
    Yes
  <% else %>
    No
  <% end %>
</p>
<div class="changes">
<a class="button" href="/transactions/<%= @transaction.id %>/edit">Edit this Transaction</a>
<form method="post" action="/transactions/<%= @transaction.id %>/delete">
  <input class="button" type="submit" value="Delete Transaction" />
</form>
</div>
</br />
