<h2>Show Specific Transaction</h2>

<p>User : <%= @transaction.find_user().display_name() %></p>
<p>Merchant : <%= @transaction.find_merchant().merchant_name %></p>
<p>Transaction Amount : <%= @transaction.amount %></p>
<p>Tag : <%= @transaction.find_tag().tag_name %></p>
<p>Transaction Date : <%= @transaction.trans_date %></p>
<p>Recurring Transaction :
<% if @transaction.recurring_transaction == "t" %>
  Yes
<% else %>
  No
<% end %>
</p>
<a href="/transactions/<%= @transaction.id %>/edit">Edit this Transaction</a>
<form method="post" action="/transactions/<%= @transaction.id %>/delete">
  <input type="submit" value="Delete Transaction" />
</form>
</br />
